.box1{
    max-width: 600px;
    box-shadow: 5px 5px 10px #ccc;
    padding: 25px;
    border-radius: 30px;
    margin: auto;
}

.box1:hover {
    box-shadow: 10px 10px 20px #ccc;
}

.btnn{
    padding: 10px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    background-color:  #FF5733 ;
}

