@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MaisonNeueBook";
    src: url('./assets/Fonts/Maison-Neue-Book.ttf');
}
body{
    font-family: "MaisonNeueBook";
}
a:hover{
    text-decoration: none;
    color: black;
}
.Logo{
    letter-spacing: 5px;
}
.categories-heading{
    letter-spacing: 3px;
}